@model Models.Views.UsersViewModel

@{
    Layout = null;
}


<div class="modal fade" id="detailsUsuarios" aria-hidden="true" aria-labelledby="Crear">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="#detailsUsuariosLabel">Detalles de Usuario</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <div>
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            Nombre
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            Usuario
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Username)
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            Rol
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Role)
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            Fecha de Creación
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Creacion)
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-4 font-weight-bold">
                            Fecha de Modificación
                        </div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(model => model.Modificacion)
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
